* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  input{
    width: 15rem;
    height: 1.5rem;

    background-color:burlywood;
  }

  button{
    width: 10rem;
    height: 2rem;

    background-color: crimson;
  }

  body{
    background-color: bisque;
  }